body {
  background-color:white;
  background-image: url("cables.jpg"); }

h1 { 
display:block;
margin:auto;
font-family:sans-serif; 
text-align:center;
  background-color:white; }

h2 { 
display:block;
margin:auto;
font-family:sans-serif; 
text-align:center;
  background-color:white; }

h3 { 
display:block;
margin:auto;
font-family:sans-serif; 
text-align:center;
  background-color:white; }

h4 { 
display:block;
margin:auto;
font-family:sans-serif; 
text-align:center;
  background-color:white; }

h5 { 
display:block;
margin:auto;
font-family:sans-serif; 
text-align:center;
  background-color:white; }

h6 { 
display:block;
margin:auto;
font-family:sans-serif; 
text-align:center;
  background-color:white; }

p { 
display:block;
margin:auto;
font-family:sans-serif; 
text-align:center;
  background-color:white; }

h1.header {
display:block;
margin:auto;
font-family:sans-serif; 
text-align:center;
background-color:white;
  font-size:75px; }
